<div fxLayout="row">
    <div fxFlex="90" fxFlexOffset="5">
        <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle checked="true" value="today">
                Today
            </mat-button-toggle>
            <mat-button-toggle value="tomorrow">
                Tomorrow
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>


<div *ngIf="group.value === 'today'" fxLayout="row wrap">
    <div fxFlex="90" *ngFor="let appointment of appointmentsToday" fxFlexOffset="5">
        <app-appointment [appointment]="appointment"></app-appointment>
    </div>
</div>

<div *ngIf="group.value === 'tomorrow'" fxLayout="row wrap">
    <div fxFlex="90" *ngFor="let appointment of appointmentsTomorrow" fxFlexOffset="5">
        <app-appointment [appointment]="appointment"></app-appointment>
    </div>
</div>




