<md-tab-group>
    <md-tab label="Today">
        <mat-grid-list cols="3">
            <mat-grid-tile *ngFor="let appointment of appointmentsToday" cospan="1" rowspan="1">
                 <app-appointment [appointment]="appointment"></app-appointment>
            </mat-grid-tile>
            
         </mat-grid-list>
    </md-tab>

    <md-tab label="Tommorow">
        <mat-grid-list cols="3">
            <mat-grid-tile *ngFor="let appointment of appointmentsTommorow" cospan="1" rowspan="1">
                 <app-appointment [appointment]="appointment"></app-appointment>
            </mat-grid-tile>
            
         </mat-grid-list>
    </md-tab>
  </md-tab-group>




